<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
    <httpErrors errorMode="Detailed"></httpErrors>
    
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <customErrors mode="Off" />
  </system.web>
  
  
  <connectionStrings>
    <add name="CS" connectionString="Server=tcp:speakstatserver.database.windows.net,1433;Initial Catalog=Speakstatdata;Persist Security Info=False;User ID=speakstatgms;Password=Password123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>

</configuration>
